# Virtual environment
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore isolated environment
isolated/